.Header1, .Header2{
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  font-size: 80px;
}

.Header2 {
  font-size: 60px;
}

.Recipes {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 40px;
}